# virtual env
.venv/
.venvClean/
__pycache__/
*.pyc
venvClean/

# experiments
*.pt
/experiments/clean_bad_images.py
experiments/bad_images/
experiments/logs/
experiments/checkpoints/
experiments/calc_average_metrics.py
experiments/checkpoints/
experiments/splits/

# notebooks
.ipynb_checkpoints/
notebooks/run_all_server.py
notebooks/sanity_check_full.ipynb

# datasets
data/
data

# Other
.DS_Store
data.zip

# Plots
plots/*.png
!plots/aug_tiers_comparison.png
!plots/gradcam/*.png