# virtual env
.venv/
__pycache__/
*.pyc

# experiments
experiments/logs/
*.pth
*.pt
/experiments/clean_bad_images.py
experiments/bad_images/

# notebooks
.ipynb_checkpoints/

# datasets
data/

# Pure Self Study
/notebooks/colab_compact_train.ipynb

# Other
.DS_Store
data.zip